
<table *ngIf="this.permisosMostrar.includes(1)" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
    <thead>
      <tr>
        <th>nombre</th>
        <th>descripcion</th>
        <th>Precio</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of datosProd">
        <td>{{ producto.nombreProducto }}</td>
        <td>{{ producto.descripcionProducto }}</td>
        <td>{{ producto.precioProducto }}</td>
        <td > 
            <div class="row">
              <div class="col-6">
                <button class="col-12 btn btn-warning" (click)="editarProducto(producto);">editar</button> 
              </div>
              <div class="col-6">
                <button class="col-12 btn btn-danger" (click)="eliminar(producto)">eliminar</button>
              </div>
            </div>
        </td>
      </tr>
    </tbody>
  </table>


  <div class="overlay" *ngIf="load">
   
    <div class="spinner ">
        <img [src]="['./assets/giphy.gif']"/>
      </div>
     
    </div>