<ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs justify-content-center">
  <li ngbDropdown class="nav-item">
    <a href (click)="false" class="nav-link" ngbDropdownToggle >Clientes</a>
    <div ngbDropdownMenu>
      <button ngbDropdownItem [routerLink]="[ '/clientes']" >Nuevo</button>
      <button ngbDropdownItem [routerLink]="[ '/clientes/mostrar']" (click)="mostrarClientes();" >Mostrar</button>
    </div>
  </li>

  <li ngbDropdown class="nav-item">
    <a href (click)="false" class="nav-link" ngbDropdownToggle>Usuarios</a>
    <div ngbDropdownMenu>
      <button ngbDropdownItem ngbDropdownItem [routerLink]="[ '/usuarios']"   > Nuevo</button>
      <button ngbDropdownItem [routerLink]="[ '/usuarios/mostrar']"  (click)="mostrarUsuarios();">Mostrar</button>
    </div>
  </li>

    <li ngbDropdown class="nav-item">
      <a href (click)="false" class="nav-link" ngbDropdownToggle>productos</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem [routerLink]="[ '/productos'] ">productos</button>
        
      </div>
    </li>

    <li ngbDropdown class="nav-item">
      <a href (click)="false" class="nav-link" ngbDropdownToggle>Pedidos</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem ngbDropdownItem [routerLink]="[ '/pedidos/nuevo']"   > Nuevo</button>
        <button ngbDropdownItem [routerLink]="[ '/pedidos/mostrar']"  (click)="mostrarUsuarios();">Mostrar</button>
      </div>
    </li>


    <li ngbDropdown class="nav-item">
      <a href (click)="false" class="nav-link" ngbDropdownToggle>Ventas</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem ngbDropdownItem [routerLink]="[ '/venta/nuevo']"   > Nueva</button>
        <button ngbDropdownItem [routerLink]="[ '/venta/mostrar']"  (click)="mostrarVenta();">Mostrar</button>
      </div>
    </li>


  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
