<ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs justify-content-center">
  <li ngbDropdown class="nav-item" *ngIf="permisosMostrar.includes(3)">
    <a href (click)="false" class="nav-link" ngbDropdownToggle >Clientes</a>
    <div ngbDropdownMenu>
      <button *ngIf="tipoUsuario === 'admin' " ngbDropdownItem [routerLink]="[ '/clientes']" >Nuevo</button>
      <button *ngIf="tipoUsuario === 'admin' " ngbDropdownItem [routerLink]="[ '/clientes/mostrar']" (click)="mostrarClientes();" >Mostrar</button>
      <button *ngIf="tipoUsuario !== 'admin' " ngbDropdownItem [routerLink]="[ '/clientes/datos']" >Mis datos</button>
    </div>
  </li>

  <li ngbDropdown class="nav-item" *ngIf="permisosMostrar.includes(2)">
    <a href (click)="false" class="nav-link" ngbDropdownToggle>Usuarios</a>
    <div ngbDropdownMenu>
      <button ngbDropdownItem ngbDropdownItem [routerLink]="[ '/usuarios']"   > Nuevo</button>
      <button ngbDropdownItem [routerLink]="[ '/usuarios/mostrar']"  (click)="mostrarUsuarios();">Mostrar</button>
    </div>
  </li>

  <li ngbDropdown class="nav-item" *ngIf="permisosMostrar.includes(6)">
    <a href (click)="false" class="nav-link" ngbDropdownToggle>Empleados</a>
    <div ngbDropdownMenu>
      <button ngbDropdownItem ngbDropdownItem [routerLink]="[ '/empleados/nuevo']"   > Nuevo</button>
      <button ngbDropdownItem [routerLink]="[ '/empleados/mostrar']" >Mostrar</button>
    </div>
  </li>



    <li ngbDropdown class="nav-item" *ngIf="permisosMostrar.includes(1)">
      <a href (click)="false" class="nav-link" ngbDropdownToggle>productos</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem [routerLink]="[ '/productos'] ">productos</button>
        
      </div>
    </li>

    <li ngbDropdown class="nav-item" *ngIf="permisosMostrar.includes(5)" >
      <a href (click)="false" class="nav-link" ngbDropdownToggle>Pedidos</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem ngbDropdownItem [routerLink]="[ '/pedidos/nuevo']"   > Nuevo</button>
        <button ngbDropdownItem [routerLink]="[ '/pedidos/mostrar']"  (click)="mostrarUsuarios();">Mostrar</button>
      </div>
    </li>


    <li ngbDropdown class="nav-item" *ngIf="permisosMostrar.includes(4)">
      <a href (click)="false" class="nav-link" ngbDropdownToggle>Ventas</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem ngbDropdownItem [routerLink]="[ '/venta/nuevo']"   > Nueva</button>
        <button ngbDropdownItem *ngIf="tipoUsuario === 'admin' " [routerLink]="[ '/venta/mostrar']"  (click)="mostrarVenta();">Mostrar</button>
      </div>
    </li>

    <li ngbDropdown class="nav-item" *ngIf="permisosMostrar.includes(4)" >
      <p class="nav-link" >Total: ${{ totalVenta }}</p>
    </li>

    <li ngbDropdown class="nav-item" *ngIf="permisosMostrar.includes(4)">
      <p class="nav-link" >Usuario: {{ usuarioNav }}</p>
    </li>

    <li ngbDropdown class="nav-item" >
      <p class="nav-link fw-bolder text-black" *ngIf="usuarioNav !== ''; else mostrarTortilleria ">{{usuarioNav}} <a href="#" (click)="salir($event)">Salir</a> </p>
    </li>


  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>

  <ng-template #mostrarTortilleria>
    <p class="fw-bolder pt-2">Tortillería  la salida</p>
  </ng-template>
  
