{{ fecha | pipeFecha }}
<form [formGroup]='datosClienteFormGroup'(ngSubmit)='guardar()' *ngIf="!mostrarFormularios">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card">
        <div class="card-header"> <h2 class="card-title text-center"> {{ tituloCliente }} </h2> </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <input type="text" class="form-control text-center" 
                placeholder="Ingrese su nombre" 
                formControlName="nombrePersona"
                name="nombrePersona" id="nombrePersona" required 
                [pattern]="soloLetras" minlength="3" maxlength="10">
              </div>
              <div *ngIf="datosClienteFormGroup.get('nombrePersona')?.invalid && 
              (datosClienteFormGroup.get('nombrePersona')?.dirty || 
              datosClienteFormGroup.get('nombrePersona')?.touched)">

                  <div class="text-center" 
                  *ngIf="datosClienteFormGroup.get('nombrePersona')?.errors?.required">
                      El nombre es requerido.
                  </div>
             

                <div class="text-center" 
                *ngIf="datosClienteFormGroup.get('nombrePersona')?.errors?.minlength">
                  Em mínimo de caracteres es de {{ minimoCarcateres }}.
              </div>

              <div class="text-center" 
              *ngIf="datosClienteFormGroup.get('nombrePersona')?.errors?.maxlength">
                El maximo de caracteres es de {{ maximoCarcateres }}.
            </div>

              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-12">
              <div class="form-group">
                <input type="text" class="form-control text-center" 
                placeholder="Ingrese su apeido paterno" 
                formControlName="apeidoPaternoPersona"
                name="" id="" required 
                [pattern]="soloLetras" minlength="3" maxlength="10">
              </div>
              <div *ngIf="datosClienteFormGroup.get('apeidoPaternoPersona')?.invalid && 
              (datosClienteFormGroup.get('apeidoPaternoPersona')?.dirty || 
              datosClienteFormGroup.get('apeidoPaternoPersona')?.touched)">

                  <div class="text-center" *ngIf="datosClienteFormGroup.get('apeidoPaternoPersona')?.errors?.required">
                      El apeido paterno es requerido.
                  </div>

                  <div class="text-center" 
                  *ngIf="datosClienteFormGroup.get('apeidoPaternoPersona')?.errors?.pattern">
                    Ingrese solo letras.
                </div>

                <div class="text-center" 
                *ngIf="datosClienteFormGroup.get('apeidoPaternoPersona')?.errors?.minlength">
                  Em mínimo de caracteres es de {{ minimoCarcateres }}.
              </div>

              <div class="text-center" 
              *ngIf="datosClienteFormGroup.get('apeidoPaternoPersona')?.errors?.maxlength">
                El maximo de caracteres es de {{ maximoCarcateres }}.
            </div>


                 
              </div>
            </div>
          </div>

          
          <div class="row mt-2">
            <div class="col-12">
              <div class="form-group">
                <input type="text" class="form-control text-center" 
                placeholder="Ingrese su apeido materno" 
                formControlName="apeidoMaternoPersona"
                name="" id="" required
                [pattern]="soloLetras" minlength="3" maxlength="10">
              </div>
              <div *ngIf="datosClienteFormGroup.get('apeidoMaternoPersona')?.invalid && 
              (datosClienteFormGroup.get('apeidoMaternoPersona')?.dirty || 
              datosClienteFormGroup.get('apeidoMaternoPersona')?.touched)">

                  <div class="text-center" *ngIf="datosClienteFormGroup.get('apeidoMaternoPersona')?.errors?.required">
                      El apeido materno es requerido.
                  </div>

                  <div class="text-center" 
                  *ngIf="datosClienteFormGroup.get('apeidoMaternoPersona')?.errors?.pattern">
                    Ingrese solo letras.
                </div>

                <div class="text-center" 
                *ngIf="datosClienteFormGroup.get('apeidoMaternoPersona')?.errors?.minlength">
                  Em mínimo de caracteres es de {{ minimoCarcateres }}.
              </div>

              <div class="text-center" 
              *ngIf="datosClienteFormGroup.get('apeidoMaternoPersona')?.errors?.maxlength">
                El maximo de caracteres es de {{ maximoCarcateres }}.
            </div>

              </div>
              
            </div>
          </div>


          <div class="row mt-2">
            <div class="col-6">
              <div class="form-group">
                <mat-form-field appearance="fill" class="example-form-field">
                  <mat-label>Ingrese su fecha de nacimiento</mat-label>
                  <input matInput [matDatepicker]="datepicker"
                  formControlName="fechaNacimiento" required  
                  >

                  <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                  <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                      <button mat-button matDatepickerCancel>Cancelar</button>
                      <button mat-raised-button color="primary" matDatepickerApply>Aceptar</button>
                    </mat-datepicker-actions>
                  </mat-datepicker>
                </mat-form-field>
              </div>
              <div *ngIf="datosClienteFormGroup.get('fechaNacimiento')?.invalid && 
              (datosClienteFormGroup.get('fechaNacimiento')?.dirty || 
              datosClienteFormGroup.get('fechaNacimiento')?.touched)">

                  <div class="text-center" *ngIf="datosClienteFormGroup.get('fechaNacimiento')?.errors?.required">
                      Su fecha de nacimiento es requerida.
                  </div>
              </div>
            </div>
            <div class="col-6">
              <mat-form-field appearance="fill" class="example-form-field">
                <mat-label>Seleccione una opcion</mat-label>
                <mat-select disableRipple formControlName="generoPersona"
                name="" id="" required >
                  <mat-option value="Hombre">Hombre</mat-option>
                  <mat-option value="Mujer">Mujer</mat-option>
                  <mat-option value="Otro">Otro</mat-option>
                </mat-select>
              </mat-form-field>
              
         
              <div *ngIf="datosClienteFormGroup.get('generoPersona')?.invalid && 
              (datosClienteFormGroup.get('generoPersona')?.dirty || 
              datosClienteFormGroup.get('generoPersona')?.touched)">

                  <div class="text-center" *ngIf="datosClienteFormGroup.get('generoPersona')?.errors?.required">
                      Seleccione su genero.
                  </div>
              </div>
            </div>

          </div>

        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-6 d-flex justify-content-center">
              <button class="btn btn-warning" >cancelar</button>
            </div>
            <div class="col-6 d-flex justify-content-center">
              <button class="btn btn-success" [disabled]='!datosClienteFormGroup.valid' >Siguiente</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>


<form [formGroup]='datosClienteDireccionFormGroup'(ngSubmit)='guardarDireccion()' *ngIf="mostrarFormularios">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card">
        <div class="card-header"> <h2 class="card-title text-center"> {{ tituloDireccionCliente }} </h2> </div>
        <div class="card-body">
          <div class="row">

            <div class="col-12">
              <div class="form-group">
                <input type="text" class="form-control text-center" 
                placeholder="Ingrese su calle" 
                formControlName="calleDireccion"
                name="" id="" required
                [pattern]="soloLetrasNumeros" minlength="3" maxlength="10">
              </div>
              <div *ngIf="datosClienteDireccionFormGroup.get('calleDireccion')?.invalid && 
              (datosClienteDireccionFormGroup.get('calleDireccion')?.dirty || 
              datosClienteDireccionFormGroup.get('calleDireccion')?.touched)">

                  <div class="text-center" *ngIf="datosClienteDireccionFormGroup.get('calleDireccion')?.errors?.required">
                      La calle es requerida.
                  </div>
                  <div class="text-center" 
                  *ngIf="datosClienteDireccionFormGroup.get('calleDireccion')?.errors?.pattern">
                    Ingrese solo letras.
                </div>

                <div class="text-center" 
                *ngIf="datosClienteDireccionFormGroup.get('calleDireccion')?.errors?.minlength">
                  Em mínimo de caracteres es de 3.
              </div>

              <div class="text-center" 
              *ngIf="datosClienteDireccionFormGroup.get('calleDireccion')?.errors?.maxlIngrese su estado.ength">
                El maximo de caracteres es de 10.
            </div>


              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <div class="form-group">
                <input type="text" class="form-control text-center" 
                placeholder="Ingrese su colonia" 
                formControlName="coloniaDireccion"
                name="" id="" required>
              </div>
              <div *ngIf="datosClienteDireccionFormGroup.get('coloniaDireccion')?.invalid && 
              (datosClienteDireccionFormGroup.get('coloniaDireccion')?.dirty || 
              datosClienteDireccionFormGroup.get('coloniaDireccion')?.touched)">

                  <div class="text-center" *ngIf="datosClienteDireccionFormGroup.get('coloniaDireccion')?.errors?.required">
                     La colonia es requerida.
                  </div>

                  <div class="text-center" 
                  *ngIf="datosClienteDireccionFormGroup.get('coloniaDireccion')?.errors?.pattern">
                    Ingrese solo letras.
                </div>

                <div class="text-center" 
                *ngIf="datosClienteDireccionFormGroup.get('coloniaDireccion')?.errors?.minlength">
                  Em mínimo de caracteres es de 3.
              </div>

              <div class="text-center" 
              *ngIf="datosClienteDireccionFormGroup.get('coloniaDireccion')?.errors?.maxlength">
                El maximo de caracteres es de 10.
            </div>


              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-12">
              <div class="form-group">
                <input type="text" class="form-control text-center" 
                placeholder="Ingrese su estado" 
                formControlName="estadoDireccion"
                name="" id="" required>
              </div>
              <div *ngIf="datosClienteDireccionFormGroup.get('estadoDireccion')?.invalid && 
              (datosClienteDireccionFormGroup.get('estadoDireccion')?.dirty || 
              datosClienteDireccionFormGroup.get('estadoDireccion')?.touched)">

                  <div class="text-center" *ngIf="datosClienteDireccionFormGroup.get('estadoDireccion')?.errors?.required">
                     Ingrese su estado.
                  </div>
              </div>
            </div>
          </div>


          <div class="row mt-2">
            <div class="col-12">
              <div class="form-group">
                <input type="text" class="form-control text-center" 
                placeholder="Ingrese su codigo postal" 
                formControlName="codigoPostalDireccion"
                name="" id="" required>
              </div>
              <div *ngIf="datosClienteDireccionFormGroup.get('codigoPostalDireccion')?.invalid && 
              (datosClienteDireccionFormGroup.get('codigoPostalDireccion')?.dirty || 
              datosClienteDireccionFormGroup.get('codigoPostalDireccion')?.touched)">

                  <div class="text-center" *ngIf="datosClienteDireccionFormGroup.get('codigoPostalDireccion')?.errors?.required">
                     La colonia es requerida.
                  </div>

                  <div class="text-center" 
                  *ngIf="datosClienteDireccionFormGroup.get('codigoPostalDireccion')?.errors?.pattern">
                    Ingrese solo letras.
                </div>

                <div class="text-center" 
                *ngIf="datosClienteDireccionFormGroup.get('codigoPostalDireccion')?.errors?.minlength">
                  Em mínimo de caracteres es de 3.
              </div>

              <div class="text-center" 
              *ngIf="datosClienteDireccionFormGroup.get('codigoPostalDireccion')?.errors?.maxlength">
                El maximo de caracteres es de 10.
            </div>


              </div>
            </div>
          </div>


          

          <div class="row mt-2">
            <div class="col-6">
              <div class="form-group">
                <input type="text" class="form-control text-center" 
                placeholder="Ingrese numero interior" 
                formControlName="numeroInterior"
                name="" id="" [pattern]="soloNumeros">
              </div>
              <div *ngIf="datosClienteDireccionFormGroup.get('numeroInterior')?.invalid && 
              (datosClienteDireccionFormGroup.get('numeroInterior')?.dirty || 
              datosClienteDireccionFormGroup.get('numeroInterior')?.touched)">

              <div class="text-center" 
              *ngIf="datosClienteDireccionFormGroup.get('numeroInterior')?.errors?.pattern">
                Ingrese solo numeros.
              </div>
                  <div class="text-center" 
                  *ngIf="datosClienteDireccionFormGroup.get('numeroInterior')?.errors?.minlength">
                    Em mínimo de caracteres es de 3.
                  </div>
                  <div class="text-center" 
                  *ngIf="datosClienteDireccionFormGroup.get('numeroInterior')?.errors?.maxlength">
                    El maximo de caracteres es de 10.
                  </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <input type="text" class="form-control text-center" 
                placeholder="Ingrese numero exterior" 
                formControlName="numeroExterior"
                name="" id="" required
                [pattern]="soloNumeros">
              </div>
              <div *ngIf="datosClienteDireccionFormGroup.get('numeroExterior')?.invalid && 
              (datosClienteDireccionFormGroup.get('numeroExterior')?.dirty || 
              datosClienteDireccionFormGroup.get('numeroExterior')?.touched)">

              <div class="text-center" 
              *ngIf="datosClienteDireccionFormGroup.get('numeroExterior')?.errors?.pattern">
                Ingrese solo numeros.
              </div>
                  <div class="text-center" 
                  *ngIf="datosClienteDireccionFormGroup.get('numeroExterior')?.errors?.minlength">
                    Em mínimo de caracteres es de 0.
                  </div>
                  <div class="text-center" 
                  *ngIf="datosClienteDireccionFormGroup.get('numeroExterior')?.errors?.maxlength">
                    El maximo de caracteres es de 10.
                  </div>

              </div>
            </div>
          </div>

        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-6 d-flex justify-content-center">
              <button class="btn btn-warning" (click)="cancelarDireccion();" >cancelar</button>
            </div>
            <div class="col-6 d-flex justify-content-center">
              <button class="btn btn-success" [disabled]='!datosClienteDireccionFormGroup.valid' >Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>







<div class="overlay" *ngIf="load">
   
  <div class="spinner ">
      <img [src]="['./assets/giphy.gif']"/>
    </div>
   
  </div>






