
<div class="row" *ngIf="!mostrarAgregarUsuario">
  <div class="col-12">

      <!-- datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
    <table  class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Permisos</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of datosUsuario | async">
          <td>{{ item.nombreUsuario | uppercase }}</td>
          <td *ngIf="item.permisos.length > 0; else sinPermisos ">Puede editar sus permisos</td>
           <td>
             
            <button class="btn btn-info col-6"  (click)="editarUsuario(item);" >editar</button>
            <button class="btn btn-warning col-6" (click)="eliminarUsuario(item);">eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<ng-template #sinPermisos> <td>No cuenta con permisos</td> </ng-template>


<div class="row">
  <div class="col-6 offset-3">
    <app-agregar-editar-usuarios *ngIf="mostrarAgregarUsuario"
  [enviarUsuarioEditar]="usuarioEditar"
></app-agregar-editar-usuarios>
  </div>
</div>

